<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
<h1>{{ title }}</h1>
<h2>Objetivo</h2>
<p>Nuestro propósito es analizar la viabilidad y los beneficios de diseñar e implementar un Sistema Basado en
    Conocimiento (SBC) en el ámbito legal en materia mercantil, específicamente en la búsqueda de términos y
    metodologías en materia legal mercantil.</p>
<p>Este sistema tiene como objetivo proporcionar un apoyo eficiente y accesible tanto para profesionales del derecho
    como para clientes, facilitando el acceso a información legal relevante (leyes de acuerdo a un determinado caso),
    optimizando procesos de investigación (ofreciendo marcos legales de acuerdo a patrones de búsqueda) y mejorando la
    eficiencia en la redacción de documentos legales (al ofrecer terminología formal acorde).</p>
<h2>Introducción</h2>
<p>Este sistema busca ofrecer una solución escalable y económica que facilite el trabajo de los abogados, mejorando la
    eficiencia y accesibilidad del sistema judicial.</p>
<p>Mediante un Sistema Basado en Conocimiento (SBC), se permitirá a los profesionales del derecho dedicar más tiempo a
    tareas estratégicas y menos a procesos administrativos repetitivos —como la búsqueda de jurisprudencias relevantes o
    la elaboración de terminología para documentos formales—.</p>
<p>Asimismo, el sistema brindará a ciudadanos y estudiantes de Derecho un acceso ágil y asequible a orientación legal
    básica, adaptada a sus necesidades e intereses específicos.</p>
</body>
</html>
